*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     /* background-color: #081b29; */
    margin: 4%;
    padding: 5%;
    background: url("image/laptop.jpg");
}

.header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 10%;
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.navbar a{
   font-size: 30px;
   color: black;
   text-decoration: none;
   font-weight: 600;
   margin-left: 35px;
   transition: .3s;
}

.navbar a:hover{
   color: aqua;
}

.home{
   height: 100vh;
   padding: 20 10%;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

/* .home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #7d1111;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
} */

.home-content h3{
    position: relative;
    font-size: 40px;
    font-weight: 300;
}

