body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("image/laptop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Add a semi-transparent background for header */
    z-index: 1000; /* Ensure the header is on top */
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("your_logo_image_url_here.png");
    background-size: cover;
}

.navbar {
    display: inline-block;
}

.navbar a {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
   
}

.navbar a:hover {
    color: #007bff;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-content {
    text-align: center;
    color: black;
}

.home-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.home-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.home-content h3 {
    font-size: 24px;
}

/* Media queries for tablet and mobile devices */
@media only screen and (max-width: 768px) {
    .header {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .logo {
        width: 40px; /* Adjust logo size */
        height: 40px;
    }

    .navbar a {
        font-size: 16px; /* Decrease font size for smaller screens */
        margin-right: 10px; /* Adjust margin */
    }

    .home-content h1 {
        font-size: 36px; /* Adjust font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .home-content h1 {
        font-size: 24px; /* Further adjust font size for smaller screens */
    }
}